<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Chat</title>
  </head>
  <body>
    <p>Edit your chat: <%=chat.id%></p>
    <p>This chat was sent from <b><%=chat.from%></b> to <b><%=chat.to%></b></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
      <textarea name="msg" cols="40" rows="5"><%=chat.msg%></textarea>
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
