<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2>All Chats</h2>
    <form action="/chats/new" method="GET">
      <button>New Chat</button>
    </form>
    <br />
    <% for(let chat of chats) { %>
    <div class="chat">
      <p>From : <i><%= chat.from %></i></p>
      <div class="msg">
        <p><%= chat.msg %></p>
        <form action="/chats/<%=chat._id%>/edit" method="GET">
          <button>Edit</button>
        </form>
        <hr />
        <form action="/chats/<%=chat._id%>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
      </div>
      <p>Received by : <i><%= chat.to %></i></p>
      <hr />
      <h5 style="text-align: center">
        <p>
          <%= chat.created_at.toString().split(" ")[4] %>
          <br />
          <%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %>
        </p>
      </h5>
    </div>
    <br />
    <br />
    <% } %>
  </body>
</html>
